*{
    margin:0px;
    padding:0px;
}
 
.header-container{
    background-color: #032d60;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}

.header-human-club{
    background-color: #032d60;
    color:#fff;
    padding: 10px;
    margin-bottom: 10px;
}